 <html>
    <head>
    <title>English Dictionary</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div id="container">
            <div class="title">
                <h1>A Simple English Dictionary</h1>
            </div>
            <div id="content">
                Meaning 1.  <strong>{{meaning[0]}}</strong> <br>
                Meaning 2. <strong>{{meaning[1]}}
            </div>
            <div class="title">
                
            </div>
                
            </div>
        </div>
    </body>
</html>
